{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ recipe.name }}</h1>
                <p> Modified {{ recipe.dateCreate ? recipe.dateCreate|date('d/m/Y') : '' }} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p> Preparation time : {{ recipe.time }} min </p>
                <p>Ingredients :<p>
                {% for recipeIngredient in recipe.recipeIngredients %}
                    <p>{{ recipeIngredient.quantity }} {{ recipeIngredient.ingredient.unit }} of {{ recipeIngredient.ingredient.name }}</p>
                {% endfor %}
            </div>
            <div class="col-8">
                {% for steps in recipe.step %}
                    <p>Step {{ steps.ordre }} :</p>
                    <p>{{ steps }}</p>
                {% endfor %}
            </div>
        </div>
        <a href="{{ path('app_recipe_index') }}" class="btn-primary">back to list</a>
    </div>
{% endblock %}
